body {
    background-color: #660000;
    font-family: 'Open Sans';
}

#heading {
    color: #eeeeee;
    text-align: center;
}

.yt-label {
    color: #eeeeee;
}

#youtube-url-box {
    
}


#submit-url {
}

/* Div Containers */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    flex-direction: row;
}

.pb-grey {
    background-color: lightgrey;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px 20%;
}

.pb-bar {
    background-color: #00cc00;
    height: 12px;
    width: 20%;
    transform: translateX(-100%);
}